
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Детский садик</title>
<%= stylesheet_link_tag 'application' %>
</head>
<body>
<div id="page">

<div id="lt">

<div id="header">
	<div id="headerimg">
		<h1><a href="http://xtemplate.ru/prosmotr/">&laquo;Центр развития ребенка&raquo;<br/>детский сад № 183</a></h1>
		<div class="description"></div>
	</div>
</div>
	<div id="content" class="narrowcolumn">

	
		
			<div class="post" id="post-1">
			<div class="date"><span>Фев</span>28</div>
		  	<div class="title">
				<h2><a href="http://xtemplate.ru/prosmotr/?p=1" rel="bookmark" title="Permanent Link to Привет, мир!">Привет, мир!</a></h2>
				<div class="postdata"><SPAN class="category">Категория: <a href="http://xtemplate.ru/prosmotr/?cat=1" title="Просмотреть все записи в рубрике &laquo;Без рубрики&raquo;" rel="category">Без рубрики</a></SPAN> <span class="comments"><a href="http://xtemplate.ru/prosmotr/?p=1#comments" title="Комментарий к записи Привет, мир!">19 Комментариев &#187;</a></span></div>
		  </div>
		  <div style="clear:both"></div>
		<div class="entry">
					<p>Текст, который будет набран Вами и опубликован.</p>
					<p><%= yield %></p>
<h2>Заголовок 2</h2>
<h3>Заголовок 3</h3>
<h4>Заголовок  4</h4>
<h5>Заголовок 5</h5>
<h6>Заголовок 6</h6>
<p>Цитаты:<br />
Разумеется, у меня есть некоторые странные привычки. Но все эти социально–адаптированные люди только и ждут возможности взять молоток и публично расколошматить свою еду на части. Обычные люди так враждебны.<br />
Списки:</p>
<p>Как много дел считались невозможными, пока они не были осуществлены.<br />
Лидеры обладают способностью находить элегантные, простые решения сложных проблем.<br />
Правильно определяйте свои приоритеты.<br />
Если мы не можем [...]</p>
				</div>
			</div>

		
		<div class="navigation">
			<div class="alignleft"></div>
			<div class="alignright"></div>
		</div>

	
	</div>
</div>

	<br/>
<br/><br/>
<div id="cat_top"></div>
	<div id="sidebar">
		<ul>
			<!-- <li>
				<form method="get" id="searchform" action="http://xtemplate.ru/prosmotr/">
<div><input type="text" value="" name="s" id="s" />
<input type="submit" id="searchsubmit" value="Искать" />
</div>
</form>
			</li> -->

			<li><h2>Контактная информация</h2>
			<p>ул. Волгоградская</p>
			</li>
			
						
			<li class="pagenav"><h2>Страницы</h2><ul><li class="page_item page-item-2"><a href="http://xtemplate.ru/prosmotr/?page_id=2" title="О сайте">О сайте</a></li>
</ul></li>
			<li><h2>Архив</h2>
				<ul>
					<li><a href='http://xtemplate.ru/prosmotr/?m=201002' title='Февраль 2010'>Февраль 2010</a></li>
				</ul>
			</li>

			<li class="categories"><h2>Категории</h2><ul>	<li class="cat-item cat-item-1"><a href="http://xtemplate.ru/prosmotr/?cat=1" title="Просмотреть все записи в рубрике &laquo;Без рубрики&raquo;">Без рубрики</a> (1)
</li>
</ul></li>			
			
							<li id="linkcat-2" class="linkcat"><h2>Ссылки</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://wordpress.org/development/">Development Blog</a></li>
<li><a href="http://codex.wordpress.org/">Documentation</a></li>
<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
<li><a href="http://wordpress.org/extend/ideas/">Suggest Ideas</a></li>
<li><a href="http://wordpress.org/support/">Support Forum</a></li>
<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>

	</ul>
</li>
						
			
				<li><h2>Управление</h2>
				<ul>
					<li><a href="http://xtemplate.ru/prosmotr/?feed=rss2" title="Syndicate this site using RSS"><abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="http://xtemplate.ru/prosmotr/?feed=comments-rss2" title="Последние комментарии ко всем записям в RSS"><abbr title="Really Simple Syndication">RSS</abbr> комментариев</a></li>
									</ul>
				</li>
				<li><h2>Управление</h2>
				<ul>
					<li><a href="http://xtemplate.ru/prosmotr/?feed=rss2" title="Syndicate this site using RSS"><abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="http://xtemplate.ru/prosmotr/?feed=comments-rss2" title="Последние комментарии ко всем записям в RSS"><abbr title="Really Simple Syndication">RSS</abbr> комментариев</a></li>
									</ul>
				</li>
				<li><h2>Управление</h2>
				<ul>
					<li><a href="http://xtemplate.ru/prosmotr/?feed=rss2" title="Syndicate this site using RSS"><abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="http://xtemplate.ru/prosmotr/?feed=comments-rss2" title="Последние комментарии ко всем записям в RSS"><abbr title="Really Simple Syndication">RSS</abbr> комментариев</a></li>
									</ul>
				</li>
				<li><h2>Управление</h2>
				<ul>
					<li><a href="http://xtemplate.ru/prosmotr/?feed=rss2" title="Syndicate this site using RSS"><abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="http://xtemplate.ru/prosmotr/?feed=comments-rss2" title="Последние комментарии ко всем записям в RSS"><abbr title="Really Simple Syndication">RSS</abbr> комментариев</a></li>
									</ul>
				</li>
		</ul>
		<div id="cat_bot"></div>
	</div>
	


﻿<div id='pad_foot'>
<div id='footer'>
	<p>
<font size="1">Создание и продвижение сайтов в Воронеже: <a href="http://yuliansait.ru/">yuliansait.ru</a></font>
	</p>
</div>
</div>
</div>
</body>
</html>